body {
  background-color: #a3320b;
}

#caixa {
  max-width: 500px;
  max-height: 200px;
  padding-bottom: 300px;
  margin: auto;
  margin-top: 16%;
  background-color: #bc8034;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}

.inputs {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 27px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  border-style: solid;
  border-radius: 11px;
  box-shadow: 0px 0px 17px rgba(66, 66, 66, 0.39);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}
.inputs:focus {
  outline: none;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.resultado {
  padding-top: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #6b0504;
  text-align: center;
}
